body {
    padding-right: 185px;
}

form[name="search_form"] tr {
    display: block;
}

form[name="search_form"] tr::after {
    content: '';
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}

form[name="search_form"] td {
    display: block;
}

.enlarge-it {
    padding:10px;
    background:green;
    text-align:center;
    cursor: pointer;
    float: left;
}

.unmute-it {
    padding:10px;
    background:red;
    text-align:center;
    cursor: pointer;
    margin-left:5px;
    float:left;
}

.unmuted {
    background: green!important;
}

.favicon {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    color: rgba(208, 23, 23, 0.89);
}

.favicon.added {

}

.controls {
    width: 185px;
    height:100%;
    position: fixed;
    right: 0;
    top: 0;
    background:#263238;
}

.controls ul {
    width:100%;
    list-style:none;
    padding:0;
    margin:0;
}

.controls ul li {
    cursor:pointer;
    padding:10px;
    border-bottom:1px solid #37474F;
    color: #78909C;
    font-family: 'Arial', 'Verdana', sans-serif;
    list-style: none;
    position: relative;
}

.controls ul.favlist {
    /*margin-top:30px;*/
}

.controls ul.favlist li a{
    text-decoration: none;
    color: #78909c;
}

h3.title {
    padding: 10px 0 0 10px;
    color: white;
    text-transform: uppercase;
}

span.remove {
    position: absolute;
    right: 0;
    top: 0;
    width:35px;
    height: 35px;
    color: #666;
    font-weight: bold;
    line-height: 35px;
    cursor: pointer;
    text-align: center;
    display: block;
}

span.remove:hover {
    color: red;
}

body {
    margin-right: 185px;
}

.favbtn a {
    display: block;
    width: 100%;
}